h1{
	display: block;
}
.gotop{
    width: 60px;
    height: 60px;
    background: orange;
    background-image: url(../images/top.png);
    position: fixed;left:1200px;	
    bottom:50px;
    display: none;
}